@model Website.Models.ViewModels.CommentViewModel
@if (Session["token"] != null)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-comment", role = "form" }))
    {
        <strong> Deixe seu comentário abaixo </strong>
        <div class="form-group">
            <div>
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            </div>
        </div>
        @Html.HiddenFor(model => model.IdPost)
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-default" value="Comentar" />
            </div>
        </div>

        <div id="feedback"></div>
    }
    <script type="text/javascript">
    $("#form-comment").on("submit", function (event) {
        event.preventDefault();
        var content = $(this).find("#Content");
        var data = {
            content: content.val(),
            IdPost: $(this).find("#IdPost").val()
        };
        $.ajax({
            type: 'POST',
            url: '/comments',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {
                if (msg.success) {
                    $("#feedback").removeClass().addClass("success").html("Seu comentário foi cadastrado, e será aprovado em breve.");
                    content.val("");
                } else {
                    $("#feedback").removeClass().addClass("error").html("Não foi possível cadastrar seu comentário.")
                }
            }
        });
    });
    </script>
}
else
{
    <strong>Você precisa se logar para comentar</strong>
}