@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>O grupo</h4>
<br />
<p>
    Fernando Seguim, Gabriel Toledo, Lucas Gomide, Paloma Amorim e Taynara Simões formam o grupo Qoala. <br />
    Os estudantes do terceiro ano de Sistemas de informação na FIAP apresentam o projeto
    DEVICE - Conheça a ideia inovadora e de impacto social apresentada nesse site:
    <br />
    <br />
    Área técnica<br /><br />
    Dúvidas frequentes:<br />
</p>