@{
    ViewBag.Title = "Perfil";
    var currentUser = Session.CurrentUser();

}

<h2>@ViewBag.Title.</h2>

@{Html.RenderPartial("../Shared/Logged/_Menu");}

<div>
    <h4>Seu perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome:</dt>
        <dd>
            @currentUser.Name
        </dd>
        <dt>Email:</dt>
        <dd>
            @currentUser.Email
        </dd>
    </dl>
</div>
