.qoala-logotipo {
    background: url(../Images/logo-qoala-fundo-escuro.png) no-repeat top left;
    display: block;
    text-indent: -99999px;
    width: 220px;
}

.main-menu .container{
    padding: 15px 0;
}
.list-posts tr {
    cursor: pointer;
}
.list-posts tr:hover {
    background-color: #eaeaea;
}
footer {
    margin-top: 20px;
    text-align: center;
}
.sub-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-menu .btn-group {
    float: right;
}