<section class="menu-logged">
    <div class="container sub-menu">
        <div class="btn-group" role="group">
            @Html.ActionLink("Visualizar Perfil", "Show", "Profile", null, new { @class = "btn btn-default" })
        </div>
    </div>
</section>