<div>
    <ul>
        <li>
            @Html.ActionLink("Perfil Editor", "Index", "Profile")
        </li>
        <li>
            @Html.ActionLink("Devices", "Index", "Device")
        </li>
        <li>
            @Html.ActionLink("Atualizar perfil", "Update", "Profile")
        </li>
    </ul>
</div>
