<div>
    <ul>
        <li>
            @Html.ActionLink("Perfil", "Index", "Profile")
        </li>
        <li>
            @Html.ActionLink("Posts", "Index", "Post")
        </li>
        <li>
            @Html.ActionLink("Criar Post", "New", "Post")
        </li>
    </ul>
</div>
